/* mobile layout */
@media (max-width: 1000px) {
    body {
        padding-top: 70px;
    }

    .header {
        font-size: 120px;
    }

    .side-sections {
        width: 50%;
        top: 0;
    }

    .sections {
        margin-bottom: 100px;
    }

    .section--header {
        font-size: 32px;
        display: none;
    }

    .groups {
        gap: 32px;
    }

    .group-item {
        padding: 16px 64px;
        font-size: 24px;
        height: fit-content;
        width: fit-content;
        margin: 0 64px;
        border-radius: 24px;
    }

    .container {
        width: 80%;
        margin: 1rem auto;
    }

    .task__title {
        font-size: 32px;
        margin: 12px 0 24px;
    }

    .task__date {
        font-size: 16px;
        margin: 12px;
    }

    .task-list-controls > button,
    .group {
        padding: 10px 16px;
        font-size: 20px;
    }
}