:root {
    --transition-duration: 0.3s;
    --background-color: rgb(230, 230, 230);
    --text-color: rgb(55, 55, 55);
    --accent-color: rgb(56, 98, 43);
    --secondary-accent-color: rgba(56, 98, 43, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

html, body {
    overscroll-behavior: none;
}

body {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--background-color);
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.no-outline-no-borders {
    border: none;
    outline: none;
}

.container {
    width: 50%;
}

.header {
    font-size: 3rem;
    letter-spacing: 5px;
    border-bottom: 1px solid black;
}

.task-list-controls {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 90%;
    justify-content: right;
    gap: 10px;
    border-bottom: 1px solid grey;

    & button {
        padding: 7px 15px;
        font-size: 0.7rem;
        letter-spacing: 2px;
        background: var(--secondary-accent-color);
        color: var(--text-color);
        border-radius: 24px;
        transition-duration: var(--transition-duration);

        &:hover {
            background: var(--accent-color);
            color: var(--background-color);
        }
    }
}

.no-tasks-message {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    margin: 1rem 0;
}

.tasks-list {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem ;
    flex-direction: column;
    gap: 1rem;
}

.task {
    width: 500px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--text-color);
}

.task__options {
    display: flex;
    gap: 1rem;
}

.task__button {
    height: fit-content;
    width: fit-content;
    background: transparent;
}

.task__button img {
    width: 20px;
    aspect-ratio: 3/4;
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(76, 76, 76, 0.69);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal__content {
    height: fit-content;
    width: fit-content;
    padding: 2rem 1rem;
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 12px;
    flex-direction: column;
    gap: 1rem;

    & h3 {
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 1px solid gray;
    }
}

.new-task__form,
.task-update__form {
    margin-top: 1rem;

    & input[type="text"] {
        margin: 0 1rem;
        padding: 5px 10px;
        width: 13rem;
        border-radius: 6px;
    }
}

#new-task__btn,
#task-update__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    padding: 0.3rem 1rem;
    width: fit-content;
    border-radius: 6px;
    background: var(--secondary-accent-color);
    color: var(--text-color);
    transition-duration: var(--transition-duration);

    &:hover {
        background: var(--accent-color);
        color: var(--background-color);
    }
}

.close-button {
    width: fit-content;
    position: relative;
    top: -15px;
    right: -250px;
    background: transparent;
    font-size: 1rem;
    color: gray;
    transition: var(--transition-duration);

    &:hover {
        color: var(--text-color);
    }
}

#add-task-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    height: 38px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--secondary-accent-color);
    border: 1px solid var(--secondary-accent-color);
    transition: var(--transition-duration);

    &:hover {
        background: var(--accent-color);
        color: var(--background-color);
        border-color: var(--accent-color);
    }
}