{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="header">Task Manager</h1>
    <div class="tasks-list">
        {% for task in tasks %}
        <div class="task">
            <div class="task__info">
                <h3>{{ task.content }}</h3>
                <p>{{ task.data_created.date() }}</p>
            </div>
            <div class="task__options">
                <a class="task__button" href="/update/{{ task.id }}">
                    <img src="{{url_for('static', filename='img/edit-tools.png')}}">
                </a>
                <a class="task__button" href="/delete/{{ task.id  }}">
                    <img src="{{url_for('static', filename='img/loschen.png')}}">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- add new task form-->
    <form action="/" method="POST" class="new-task-form">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}