{% extends 'base.html' %}

{% block body %}
<button class="go-back-btn"><</button>
<div class="container">
    <h1 class="header">Update Task: "{{ task.content }}"</h1>
    <div class="content">
        <form class="update-form" action="/update/{{ task.id }}" method="POST">
            <div class="update-form__container">
                <input class="update-form__container__content-field" type="text" name="content" value="{{ task.content }}">
            </div>
            <button class="update-form__update-btn" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}